{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div class="container-fluide'">
		<div class="banner-section"></div>
		<div class="container">
			<div class="services">
				Nos Services
			</div>
			<div class="row">
				<div class="col-md-6">
					<a href="{{ path('prise_de_rendez_vous')}}">
						<h2>Prise de rendez-vous</h2>
					</a>
				</div>
				<div class="col-md-6">
					<h2>Découvrir notre catalogues</h2>
				</div>
				<div class="col-md-6">
					<h2>Echanger en toute transparence</h2>
				</div>
				<div class="col-md-6">
					<h2>Devis</h2>
				</div>
			</div>
		</div>

	{% endblock %}
