{% extends 'base.html.twig' %}

{% block title %}Calendrier de rendez-vous
{% endblock %}

{% block body %}

	{# {{dump(data)}} #}
	<div id="calendrier"></div>

	{% block javascript %}
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.js" integrity="sha256-yirUYbNvdsLHfZcQDyDMB51pfQ0Mn8siGDZOvtBgCFw=" crossorigin="anonymous"></script>

		<script>

			window.onload = () => {
let calendarElt = document.querySelector("#calendrier");

let calendar = new FullCalendar.Calendar(calendarElt, {
initialView: 'timeGridWeek',
local: 'fr',
timeZone: 'Europe/Paris',
headerToolbar: {
start: 'prev,next today',
center: 'title',
end: 'dayGridMonth,timeGridWeek'
},
events: {{ data|raw }},
editable: true,
eventResizableFromStart: true
});

calendar.on('eventChange', (e) => {
console.log(e)
})
calendar.render();
}
		</script>
	{% endblock %}

{% endblock %}
