{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
	<!-- Heroes images -->
	<section class="visual">
		<div class="container">
			<div class="text-block">
				<div class="heading-holder">
					<h1>
						<span style="color:white;">Dream</span>
						<span style="color:#e91e63;">APP</Span>
					</h1>
				</div>
				<p class="tagline" style="color:#eeeeee;">UN SITE WEB AU FINAL C’EST UN TERME UN PEU VASTE..</p>
				<span class="info" style="color:#eeeeee;">im developer</span>
			</div>
		</div>
		<img src="images/img-decor-01.jpg" alt="walid belbeche" class="bg-stretch" height="100%" width="100%">
	</section>
	<!-- /HeroesImages -->

	<!-- About -->
	<section class="main" id="about">
		<div class="container">
			<div id="cta">
				<a href="#" class="btn btn-primary rounded">Download Resume
				</a>
			</div>
			<div class="row">
				<div class="text-box col-md-offset-1 col-md-10">
					<h2>Depuis 2016</h2>
					<div class="about-the-author">
						<h3 class="author-title">A propos</h3>
						<div class="col-md-2">
							<div class="author-image">
								<a href="images/profil.jpg"><img src="images/profil.jpg" width="100%" height="100%"></a>
							</div>
						</div>
						<div class="col-md-8">
							<br>
							<h4>Walid BELBECHE</h4>
							<p>Passionné par la technologie depuis toujours après un parcours professionnel varié, j'ai décidé de rentrer dans le monde dunumérique en devenant développeur web. Mon objectif est de crée des projets techniquement au top avec un design épuré.L'Access Code School m'a apporté beaucoup notamment au niveau de l'autonomie dans le travail.</p>
						</div>
					</div>
					<div class="calendar">
						Connexion perdue avec Github
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /About -->

	<!-- introduction -->
	<div class="specs" id="specs">
		<section class="area">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h2 class="visible-xs visible-sm text-primary">Web App
							<span class="bg-info">What is it?
							</span>
						</h2>
						<ul class="visual-list">
							<li>
								<div class="img-holder">
									<img src="images/graph-04.svg" width="110" alt="">
								</div>
								<div class="text-holder">
									<h3>Créé pour créer un meilleur Web</h3>
									<p>Étape essentielle du lancement de votre projet web, le brainstorm d’idées et le travail d’ergonomie web vont permettre de poser les bases de votre futur site,seo, mockup sont des mots qui feront bientôt partie de votre vocabulaire !
									</p>
								</div>
							</li>
							<li>
								<div class="img-holder">
									<img class="pull-left" src="images/graph-03.svg" width="90" alt="">
								</div>
								<div class="text-holder">
									<h3>Personnalisation infinie</h3>
									<p>Des idées, c’est bien. Les mettre en en pratique, c’est encore mieux ! Le webdesign de votre futur site internet est construit sous forme de maquettes (charte graphique) qui vous permettront de cadrer graphiquement et de vous projeter sur votre outil.
									</p>
								</div>
							</li>
							<li>
								<div class="img-holder">
									<img src="images/graph-02.svg" height="84" alt="">
								</div>
								<div class="text-holder">
									<h3>Fonctionnalités expérimentales</h3>
									<p>Là on va commencer à entrer dans le vif du sujet : la transformation des visuels en code HTML, CSS et PHP ! C’est à ce moment que nos équipes techniques de développeurs web vont créer le code de votre nouveau site internet, c’est tout ce qu’il faut retenir !
									</p>
								</div>
							</li>
							<li>
								<div class="img-holder">
									<img src="images/graph-01.svg" height="71" alt="">
								</div>
								<div class="text-holder">
									<h3>Outils innovant pour gagner du temps</h3>
									<p>Une Ferrari sans moteur, c’est beau mais ça n’avance pas ! Pour éviter le syndrome de la coquille vide, il faudra rédiger du contenu . Ne vous inquiétez pas, on a l’habitude et nos rédacteurs seront là si besoin. Pas de panique !
									</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="col-md-7">
						<div class="slide-holder">
							<h2 class="hidden-xs hidden-sm text-primary">&lt;Here is what you get&gt;</h2>
							<div class="img-slide scroll-trigger"><img src="images/img-01.jpg" height="624" width="1184" alt="php" style="border-radius: 1px;"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- introduction -->
	<hr>
	<!-- What i do -->
	<section class="section services-section" id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Étapes crucials</h2>
						<p>Je conçois et développe des services pour des clients de toutes tailles, me spécialisant dans la création de sites Web élégants et modernes.</p>
					</div>
				</div>
			</div>
			<div
				class="row">
				<!-- feaure box -->
				<div class="col-sm-6 col-lg-4">
					<div class="feature-box-1">
						<div class="icon">
							<i class="fa fa-desktop"></i>
						</div>
						<div class="feature-content">
							<h5>BRAINSTORM , ERGONOMIE</h5>
							<p>Étape essentielle du lancement de votre projet web, le brainstorm d’idées et le travail d’ergonomie web vont permettre de poser les bases de votre futur site,seo, mockup sont des mots qui feront bientôt partie de votre vocabulaire !</p>
						</div>
					</div>
				</div>
				<!-- / -->
				<!-- feaure box -->
				<div class="col-sm-6 col-lg-4">
					<div class="feature-box-1">
						<div class="icon">
							<i class="fa fa-user"></i>
						</div>
						<div class="feature-content">
							<h5>CRÉATION , WEBDESIGN</h5>
							<p>Des idées, c’est bien. Les mettre en en pratique, c’est encore mieux ! Le webdesign de votre futur site internet est construit sous forme de maquettes (charte graphique) qui vous permettront de cadrer graphiquement et de vous projeter sur votre outil.</p>
						</div>
					</div>
				</div>
				<!-- / -->
				<!-- feaure box -->
				<div class="col-sm-6 col-lg-4">
					<div class="feature-box-1">
						<div class="icon">
							<i class="fa fa-comment"></i>
						</div>
						<div class="feature-content">
							<span class="info">Maintenance: prise en charge</span>
							<h5>INTÉGRATION , DÉVELOPPEMENT</h5>
							<p>Là on va commencer à entrer dans le vif du sujet : la transformation des visuels en code HTML, CSS et PHP ! C’est à ce moment que nos équipes techniques de développeurs web vont créer le code de votre nouveau site internet, c’est tout ce qu’il faut retenir !</p>
						</div>
					</div>
				</div>
				<!-- / -->
				<!-- feaure box -->
				<div class="col-sm-6 col-lg-4">
					<div class="feature-box-1">
						<div class="icon">
							<i class="fa fa-image"></i>
						</div>
						<div class="feature-content">
							<h5>CONTENUS , CONVERSION</h5>
							<p>Une Ferrari sans moteur, c’est beau mais ça n’avance pas ! Pour éviter le syndrome de la coquille vide, il faudra rédiger du contenu . Ne vous inquiétez pas, on a l’habitude et nos rédacteurs seront là si besoin. Pas de panique !</p>
						</div>
					</div>
				</div>
				<!-- / -->
				<!-- feaure box -->
				<div class="col-sm-6 col-lg-4">
					<div class="feature-box-1">
						<div class="icon">
							<i class="fa fa-th"></i>
						</div>
						<div class="feature-content">
							<h5>RÉFÉRENCEMENT NATUREL</h5>
							<p>Cerise sur le gâteau ? Non pas tant que ça en fait. Un beau site tout neuf, ce serait dommage qu’il ne soit pas référencé sur Google , vous ne trouvez pas ? Une stratégie SEO (aussi appelé référencement naturel), simple et efficace ne mange pas de pain !</p>
						</div>
					</div>
				</div>
				<!-- / -->
				<!-- feaure box -->
				<div class="col-sm-6 col-lg-4">
					<div class="feature-box-1">
						<div class="icon">
							<i class="fa fa-cog"></i>
						</div>
						<div class="feature-content">
							<h5>SUIVI / STATISTIQUES</h5>
							<p>Un interlocuteur dédié, je vous assure que ça rassure. Des données chiffrées, ça rassure aussi ! On vous paramètre tout ça, et ça tombe dans votre boite mail, c’est beau la technologie vous ne trouvez pas ?</p>
						</div>
					</div>
				</div>
				<!-- / -->
			</div>
		</div>
	</section>
	<!-- /what i do -->

	<!-- News Letter -->
	<section class="area">
		<div class="container">
			<div class="subscribe">
				<h3>Profitez d'avantages exclusifs</h3>
				<form class="form-inline">
					<button type="submit" class="btn btn-primary rounded">S'abonner</button>
					<div class="form-group">
						<input type="email" class="form-control rounded" id="exampleInputEmail2" placeholder="Email...">
					</div>
				</form>
			</div>
		</div>
	</section>
	<!-- /News Letter -->

<!-- Debut Catalogue -->


	<!-- Fin catalogues -->


{% endblock %}
