{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}

	<main
		role="main" class="container-fluide">
		<!-- Page Wrapper -->
		<div style="background: url('images/slider.jpg')" class="page-holder bg-cover" width="100%" height="100%">

			<div class="container py-5">
				<header class="text-center text-white py-5">
					<h1 class="display-4 font-weight-bold mb-4">im developer</h1>
					<p class="lead mb-0">UN SITE WEB AU FINAL C’EST UN TERME UN PEU VASTE..</p>
					<p class="font-italic">Github : 
						<a href="https://bootstrapious.com" class="text-white">
							<u></u>
						</a>
					</p>
				</header>

				<div class="text-white">
					<p class="lead">It's not a good approch to deal directly with
						<code class="bg-white px-2 py-1 rounded">body</code>
						So, create a wrapper container and make it a full-window height.</p>
					<p class="lead">Set the wrapper initial height to full window height using
						<code class="bg-white px-2 py-1 rounded">min-height: 100vh</code>
					</p>
					<p class="lead">Use
						<code class="bg-white px-2 py-1 rounded">.bg-cover</code>
						to make the background fit all viewports.</p>
				</div>

			</div>
		</div>
		<!-- START THE FEATURETTES -->

		<hr class="featurette-divider">

		<div class="row featurette ">
			<div class="col-md-7">
				<h2 class="featurette-heading">First featurette heading.
					<span class="text-muted">It’ll blow your mind.</span>
				</h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5">
				<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
					<title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
				</svg>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7 order-md-2">
				<h2 class="featurette-heading">Oh yeah, it’s that good.
					<span class="text-muted">See for yourself.</span>
				</h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5 order-md-1">
				<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
					<title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
				</svg>
			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">And lastly, this one.
					<span class="text-muted">Checkmate.</span>
				</h2>
				<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
			</div>
			<div class="col-md-5">
				<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500">
					<title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
				</svg>
			</div>
		</div>

		<hr
		class="featurette-divider">

	<!-- /END THE FEATURETTES -->

	</div>
	<!-- /.container -->


</main>{% endblock %}
