@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
}


.color h1{
  color: white;
}

/* .text-block{
  position: absolute;
  left: -15%;
  margin-top: 39%;
} */

.tagline span p{
  color: #eeeeee;
}

.visual{
  background: white;
}

#calendrier{
  width: 80%;
  margin: auto;
}
