@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
}


.color h1{
  color: white;
}

/* .text-block{
  position: absolute;
  left: -15%;
  margin-top: 39%;
} */

.tagline span p{
  color: #eeeeee;
}

.visual{
  background: white;
}

#calendrier{
  width: 80%;
  margin: auto;
}

.dotProfile {
  height: 10em;
  width: 10%;
  top: 100px;
  background-color: rgb(255 255 255);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 2;
}

.optionsProfile{
  height: 10em;
  width: 100%;
  background:linear-gradient(180deg,#ffffff 0,#fdfdfd 100%);
  box-shadow: 0 0 19px 3px rgb(0 0 0 / 12%);
}